<div class="row">
  <div class="col">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button type="Search" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
<div class="row pt-5">
  <div class="col">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Repos</th>
        <th scope="col">Population</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <td>
          {{ user.name }}
        </td>
        <td>{{ user.public_repos }}</td>
        <td>{{ user.location }}</td>
        <td>
          <button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
